{% extends "email-skeleton.html" %}
{% block body %}

<p style='font-size:16px !important;color: #013c48;padding-left:15px;'>Hi,</p>
<div style="padding-left:15px;">
    <div >
        <p style='font-size:16px !important;color: #013c48;'>
            New Inventory item is added. Logistics detail summary for the item is as follows:
        </p>
        <p style='font-size:16px !important;color: #013c48;'>
                <strong>Transportation / Sample Pickup: </strong>           {{transportation}}
            <br><strong>Best time to call to arrange for pickup: </strong>  {{best_contact_Day_of_week}} {{best_contact_time_from}} - {{best_contact_time_to}}

            <br><strong>Vendor Name: </strong>              {{vendor_name}}
            <br><strong>Client Code: </strong>              {{client_code}}
            <br><strong>Product Category: </strong>         {{category_name}}
            <br><strong>Cultivar Name: </strong>            {{cultivar_name}}
            <br><strong>Quantity: </strong>                 {{quantity_available}}
            <br><strong>Admin Link: </strong>               {{admin_link}}
            <br><strong>CRM Vendor Link: </strong>          {{crm_vendor_link}}
        </p>
    </div>
</div>
{% endblock %}
