{% extends "email-skeleton.html" %}
{% block body %}

<p style='font-size:16px !important;color: #013c48;padding-left:15px;'>Hi,</p>
<div style="padding-left:15px;">
    <div >
        <p style='font-size:16px !important;color: #013c48;'>
            Delist request for inventory item <strong>{{item_name}}</strong> (sku: {{item_sku}}) is
            approved by <strong>{{created_by_name}}</strong> (User ID: {{created_by_email}}).
        </p>
        <p style='font-size:16px !important;color: #013c48;'>
            Item details are as follows!
        </p>
        <table style='font-size:16px !important;color: #013c48;' border='0'>
            {% for v in details_display %}
                <tr>
                    <td style="padding: 5px 10px;">
                        <strong>{{v.0}}:</strong>
                    </td>
                    <td style="padding: 5px 10px;">
                        {{v.1}}
                    </td>
                </tr>
            {% endfor %}
        </table>
        <p style='font-size:16px !important;color: #013c48;'>
            <br><strong>Admin Link: </strong>               {{admin_link}}
            <br><strong>Zoho Inventory Item Link: </strong> {{zoho_item_link}}
            <br><strong>Webapp Item Link: </strong>         {{webapp_item_link}}
        </p>
    </div>
</div>
{% endblock %}


