{% extends "email-skeleton.html" %}
{% block body %}

<p style='font-size:16px !important;color: #013c48;padding-left:15px;'>Hi {{ full_name }},</p>
<div style="padding-left:15px;">
    <div >
        <p style='font-size:16px !important;color: #013c48;'>
            You have been invited to join license profile <strong>{{license}}</strong> (organization: <strong>{{organization}}</strong>) as following roles.
        </p>
        <ul style='font-size:16px !important;color: #013c48;'>
            {% for role in roles %}
            <li>{{role}}</li>
            {% endfor %}
        </ul>
        <p style='font-size:16px !important;color: #013c48;'>
            Please click the link below to accept invitation.<br>
            <span style="font-size:12px !important;color: #013c48;">(Link is valid for {{tll_in_hours}} hours.)</span><br>
            <a style="font-size:16px !important;color: #90835c;" href="{{link}}">{{link}}</a>
        </p>
    </div>
</div>
{% endblock %}

