{% extends "email-skeleton.html" %}
{% block body %}

<p style='font-size:16px !important;'>Hi {{ email }},</p>
<div [hidden]={{ forgotpassword }}>
    <div ><p style='font-size:16px !important;color: #013c48;'>Did you forget your password? Please click the link below to reset your password.<br>
        {{ link }}</p></div>
    <div>

        <ul style='font-size:16px !important;color: #013c48;'>
            <li>If you requested to change your password, you can ignore this email.</li>
            <li>If you did <strong>not</strong> request to change your password, please <strong>contact us</strong> so we can investigate this instance for you.</li>
        </ul>
    </div>

</div>
{% endblock %}
