{% extends "email-skeleton.html" %}
{% block body %}

<p style='font-size:16px !important;color: #013c48;padding-left:15px;'>Hi {{ email }},</p>
<div style="padding-left:15px;">
    <div ><p style='font-size:16px !important;color: #013c48;'>Vendor/Account Profile named {{ link }} added under Email {{ mail }}.Please mark it's status as 'approved' from admin panel if Profile fits in our policy.<br>
    </p></div>
    <div>
        <ul style='font-size:16px !important;'>
        </ul>
    </div>

</div>
{% endblock %}
