{% extends "email-skeleton.html" %}
{% block body %}

<p style='font-size:16px !important;color: #013c48;padding-left:15px;'>Hi {{ owner_full_name }},</p>
<div style="padding-left:15px;">
    <div >
        <p style='font-size:16px !important;color: #013c48;'>
            User <strong>{{user_full_name}}</strong> (user id: <strong>{{user_email}}</strong>) is registering your license <strong>{{license}}</strong> on the platform.
        </p>
        <p style='font-size:16px !important;color: #013c48;'>
             Otp to allow user to proceed on your behalf is:
        </p>
        <p style='font-size:32px !important;color: #90835c;padding-left:15px;'>
            <strong>{{otp}}</strong>
        </p>
    </div>
</div>
{% endblock %}
