{% extends "email-skeleton.html" %}
{% block body %}
<p style='font-size:16px !important;color: #013c48;padding-left:15px;'>Hi {{ full_name }},</p>
<div style ="padding-left:15px;">
    <div><p style='font-size:16px !important;color: #013c48;'>Your Thrive Society Marketplace(Pending Order) is ready for your review and approval by accessing the following link:<br>
        {{ order_url }}<br><br> This order is placed on behalf of {{business_name}} - License # {{license_number }}<br>
        <ul style='font-size:16px !important;color: #013c48;padding-left:15px;'>
            <li><strong>Order </strong>: Pending </li>
            <li><strong>Order Amount </strong>: ${{ order_amount }} </li>
            <li><strong>Quantity </strong>: {{ quantity }}lbs</li>
            <li><strong>Product Category </strong>: {{ product_category }}</li>
        </ul>
    </p>
    </div>
    <div>
    </div>

</div>
{% endblock %}
