{% extends "email-skeleton.html" %}
{% block body %}
<p style='font-size:16px !important;color: #013c48;padding-left:15px;'>Hi {{ full_name }},</p>
<div style ="padding-left:15px;">
    <div><p style='font-size:16px !important;color: #013c48;'>Thank you for shopping with us.Your Marketplace Order # {{order_number}} has been received and can be viewed by accessing your <strong>Billing & Accounting>Orders</strong> with the following link.<br>
        {{ link }}<br> This order is placed on behalf of {{business_name}} - License # {{license_number }}</p></div>
    <div>
    </div>

</div>
{% endblock %}
