{% extends "email-skeleton.html" %}
{% block body %}

<p style='font-size:16px !important;color: #013c48;padding-left:15px;'>Hi {{ full_name }},</p>
<div style="padding-left:15px;">
    <div >
        <p style='font-size:16px !important;color: #013c48;'>
            You have been invited to join organization <strong>{{organization}}</strong> as <strong>{{role}}</strong>
        {% if licenses %} for
        </p>
        <ul <p style='font-size:16px !important;color: #013c48;'>
            {% for lic in licenses %}
            <li>{{lic}}</li>
            {% endfor %}
        </ul>
        <p style='font-size:16px !important;color: #013c48;'>
        {% else %}
            <br>
        {% endif %}
            Please click the link below to accept invitation.<br>
            <span style="font-size:12px !important;color: #013c48;">(Link is valid for 24 hours.)</span><br>
            <a style="font-size:16px !important;color: #90835c;" href="{{link}}">{{link}}</a>
        </p>
    </div>
</div>
{% endblock %}
